@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cedarville+Cursive&family=Gochi+Hand&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./bg_coin.jpg');
}

.container-conversor {
    background-color: rgb(252, 255, 230);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px #ffdbb1;
    border-top: #ffae00 6px solid;
}

h1 {
    color: #3f300f;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#conversor-form {
    display: flex;
    flex-direction: column;
    border: #ffdbb1 1px dashed;
    padding: 20px;
    border-radius: 8px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#quantia {
    background: #a5ecbd;
    border: 1px solid #a5ecbd;
}
.moeda-entrada {
    background: #a5ecbd;
}

button {
    background-color: #ffae00;
    box-shadow: 0 2px 10px #00000077;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: #a06d00;
}

#resultado {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    background: #ffda4b;
    border-radius: 8px;
    border: 2px dashed #ffb500;
    color: #470000;
    text-shadow: 0 2px 2px #ff0000;
    visibility: hidden;
}

/* Estilo do Rodapé */
footer {
    display: flex;
    background-color: #333;
    color: #f0f0f0;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 2px solid #ebbb1c;
    justify-content: center;
    align-items: center;
}